<div class="container">

  <div class="row">
    <% if user_signed_in? %>

      <% if current_user.following?(@user) %>
        <p><%= link_to "Unfollow", unfollow_user_path(@user.username),method: :delete%></p>
      <% else %>
        <p><%= link_to "follow", follows_user_path(@user.username),method: :post%></p>
      <% end %>
    <% end %>
    <table class='table-inverse inverse'>
      <thead>
        <tr>
          <th>Tweets</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @tweets.each do |tweet| %>
          <tr>
            <td><%= tweet.user.username %></td>
            <td><%= tweet.content %></td>

          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
  </div>

</div>