@import "bootstrap";
@import "pages";

body {
  background-color: lightgrey;
}

.homehead {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.homepara {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

.abouthead {
  font-family: sans-serif;
  color: #007BFF;
}

.aboutpara {
  color: grey;
}